<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
<h2>Вход в систему</h2>
<!-- Выводим ошибки -->
<div th:if="${passwordError}" style="color: red;">
    <p th:text="${passwordError}"></p>
</div>

<div th:if="${usernameError}" style="color: red;">
    <p th:text="${usernameError}"></p>
</div>
<!-- Форма для ввода юзернейма и пароля -->
<form action="/login" method="POST">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required placeholder="Введите имя пользователя">

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required placeholder="Введите пароль">

    <button type="submit">Войти</button>
</form>
<a href="/registration">
    <button type="button">Нет аккаунта? Зарегистрироваться</button>
</a>
</body>
</html>
